@media (prefers-color-scheme: light) {
  /*
  https://leonardocolor.io/theme?name=Untitled&config=%7B%22baseScale%22%3A%22Gray%22%2C%22colorScales%22%3A%5B%7B%22name%22%3A%22Gray%22%2C%22colorKeys%22%3A%5B%22%23000000%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%221.14%22%2C%221.87%22%2C%223.02%22%2C%225%22%2C%2210%22%2C%2221%22%5D%2C%22smooth%22%3Afalse%7D%5D%2C%22lightness%22%3A100%2C%22contrast%22%3A1%2C%22saturation%22%3A100%2C%22formula%22%3A%22wcag2%22%7D
  https://leonardocolor.io/theme?name=Untitled&config=%7B%22baseScale%22%3A%22blueprint%22%2C%22colorScales%22%3A%5B%7B%22name%22%3A%22blueprint%22%2C%22colorKeys%22%3A%5B%22%231f4b84%22%5D%2C%22colorspace%22%3A%22OKLCH%22%2C%22ratios%22%3A%5B%221%22%2C%221.5%22%2C%222%22%2C%223.02%22%2C%225%22%2C%228%22%5D%2C%22smooth%22%3Atrue%7D%5D%2C%22lightness%22%3A93%2C%22contrast%22%3A1%2C%22saturation%22%3A100%2C%22formula%22%3A%22wcag2%22%7D
  */
  :root {
    --Gray100: #efefef;
    --Gray200: #bdbdbd;
    --Gray300: #949494;
    --Gray400: #6f6f6f;
    --Gray500: #424242;
    --Gray600: #000000;

    --appBackground: #ffffff;
    --background: #e4ebf3;
    --legendColor: #000000;
    --legendTextColor: #ffffff;
    --blueprint100: #e3eaf3;
    --blueprint200: #afc3dd;
    --blueprint300: #8ea9cd;
    --blueprint400: #6588b8;
    --blueprint500: #3b649c;
    --blueprint600: #19447d;

    --shadowColor: rgb(0 0 0 / 20%)
  }
}
@media (prefers-color-scheme: dark) {
  /*. 
  https://leonardocolor.io/theme?name=Untitled&config=%7B%22baseScale%22%3A%22Gray%22%2C%22colorScales%22%3A%5B%7B%22name%22%3A%22Gray%22%2C%22colorKeys%22%3A%5B%22%23000000%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%221.14%22%2C%221.87%22%2C%223.02%22%2C%225%22%2C%2210%22%2C%2221%22%5D%2C%22smooth%22%3Afalse%7D%5D%2C%22lightness%22%3A8%2C%22contrast%22%3A1%2C%22saturation%22%3A100%2C%22formula%22%3A%22wcag2%22%7D
  https://leonardocolor.io/theme?name=Untitled&config=%7B%22baseScale%22%3A%22blueprint%22%2C%22colorScales%22%3A%5B%7B%22name%22%3A%22blueprint%22%2C%22colorKeys%22%3A%5B%22%231f4b84%22%5D%2C%22colorspace%22%3A%22OKLCH%22%2C%22ratios%22%3A%5B%221%22%2C%221.5%22%2C%222%22%2C%223.02%22%2C%225%22%2C%228%22%5D%2C%22smooth%22%3Atrue%7D%5D%2C%22lightness%22%3A12%2C%22contrast%22%3A1%2C%22saturation%22%3A70%2C%22formula%22%3A%22wcag2%22%7D
  */
  :root {
    --Gray100: #242424;
    --Gray200: #454545;
    --Gray300: #646464;
    --Gray400: #878787;
    --Gray500: #c1c1c1;
    --Gray600: #ffffff;

    --appBackground: #171717;
    --legendColor: #323232;
    --legendTextColor: #ffffff;
    --background: #001e44;
    --blueprint100: #0b1f39;
    --blueprint200: #213d61;
    --blueprint300: #335077;
    --blueprint400: #4f6b91;
    --blueprint500: #788faf;
    --blueprint600: #a5b6cc;

    --shadowColor: rgb(0 0 0 / 50%);
  }
}

:root {
  --fieldSetBackground: var(--Gray100);
  --border100: var(--Gray200);
  --border200: var(--Gray300);
  --textColor: var(--Gray600);
}

html {
  font-family: "Avenir Next", "Helvetica", sans-serif;
  background-color: var(--appBackground);
  color: var(--textColor);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

input {
  box-shadow: none;
  outline: none;
  background-color: var(--appBackground);
  border: 1px solid var(--border200);
  color: var(--textColor);
}
input[type=number] {
  width: 56px;
}

fieldset {
  display: flex;
  flex-direction: row;
  flex-basis: fit-content;
  flex-shrink: 0;
  gap: 24px;
  margin: 8px 0;
  outline: none;
  box-shadow: none;
  background-color: var(--fieldSetBackground);
  border: 1px solid var(--border100);
  border-radius: 12px;
  padding: 10px 28px 16px 20px;
  width: 300px;
  flex-wrap: wrap;
}
fieldset.column {
  flex-direction: column;
  gap: 8px;
}
fieldset section {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
legend {
  background-color: var(--legendColor);
  color: var(--legendTextColor);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.825rem;
}
label {
  font-size: 0.875rem;
}

p {
  margin: 0;
}
h1 {
  margin-top: 1em;
  margin-bottom: 0.125em;
}
h4 {
  margin-top: 0.5em;
  margin-bottom: 0;
}
h5 {
  margin-bottom: 0;
}

main {
  padding: 24px 48px 48px 48px;
  margin-top: 24px;
  border-radius: 12px;
/*   width: 100%; */
  background-color: var(--background);
  color: var(--blueprint500);
  overflow-x: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 0px;
  min-width: fit-content;
}

.Panel_tabs {
}

.Panel_tabsList {
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  appearance: none;
  list-style: none;
  margin: 0;
  gap: 8px;
  color: var(--textColor);
  position:absolute;
  margin-top: 12px;
  font-size: 0.875rem;
}

.Panel_tab {
  padding: 8px 0px;
  cursor:pointer;
  border-bottom: 4px solid transparent;
}

.Panel_tab.react-tabs__tab--selected {
  border-color: var(--textColor);
}
