#elevationWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.elevationItem {
  display: grid;
  grid-template-columns: 32px auto;
  font-size: 12px;
  font-style: italic;
  align-items: center;
  gap: 8px;
}
.elevation {
  width: 260px;
  height: 120px;
  background-color: var(--elevationItemBackground);
}
