header {
  grid-area: header;
  background-color: var(--appBackground);
  display: flex;
  /* height: 54px; */
  align-items: center;
  /* box-shadow: 0 4px 16px var(--shadowColor); */
  padding: 8px 24px;
  gap: 36px;
  box-shadow: var(--panelShadow);
}

.logo {
  margin: 0;
  display: flex;
  line-height: 1.4;
  height: 100%;
  align-items: center;
  /* padding-top: 2px; */
}
