.panel {
  grid-area: panel;
  background-color: var(--appBackground);
  padding: 16px 24px;
  display: flex;
  overflow-y: auto;
  border-top-right-radius: var(--panelBorderRadius);
  box-shadow: var(--panelShadow);
}
