.textIconItem {
    display: grid;
    grid-template-columns: 36px auto;
    align-items: center;
}

.typeIconPair {
    display: flex;
    flex-direction: row;
}

.typeIconPair .iconItem,
.typeIconPair .typeItem {
    display: flex;
}

.typeIconPair .icon {
    background-color: transparent;
}