.buymecoffee {
    position:absolute;
    z-index: 20;
    background-color: var(--Gold200);
    bottom: 16px;
    right: 16px;
    border-radius: 32px;
    /* padding: 0 16px; */
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: var(--fabShadow);
        /* overflow: clip; */
}



.buymecoffee img {
    height: 32px;
    width: 32px;
    margin-inline-start: 12px;
}


.buymecoffee:hover,
.buymecoffee:focus,
.buymecoffee:active {
    box-shadow: var(--menuShadow);
    transition: all .2s ease-in-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
